<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app
        version="3.0"
        metadata-complete="true"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>admin</display-name>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.web.bds.LoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.web.bds.AdminController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CloneWebServlet</servlet-name>
		<servlet-class>com.web.bds.CloneWebController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateUserServlet</servlet-name>
		<servlet-class>com.web.bds.UpdateUserController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.web.bds.LogoutController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CloneWebServlet</servlet-name>
		<url-pattern>/cloneweb</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserServlet</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<session-config>
	    <session-timeout>30</session-timeout>
	</session-config>
</web-app>
